body {
    background-color: #cccbcb;
}
.box {
    min-height: 20px;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 50px;
    background-color:#f8f6f6;
  }
.viz_header {
    font-weight:bold;
    font-size: 18pt;
}

.blue {
    background: #1aaff5;
}
.text1 {
  font-size: 12pt;
}


